name: Run PHPUnit

on:
  push:
    branches: main
  pull_request: 
    branches: main
  workflow_dispatch:  # Manually triggered via GitHub

jobs:
  run-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.4.12'
          extensions: mbstring, intl, pdo, pdo_mysql
          coverage: none
          
      - name: Install dependencies
        run: composer install --no-progress --prefer-dist --no-interaction

      - name: Run PHPUnit
        run: ./vendor/bin/phpunit --testdox tests
